# Git ignore files
lib/
js/
var/
shell/
pkginfo/
mageshell/
media/
downloader/
nbproject/
skin/
LICENSE.html
LICENSE.txt
LICENSE_AFL.txt
RELEASE_NOTES.txt
UnitTests.php
cron.php
cron.sh
errors/
.htaccess
favicon.ico
get.php
includes/
index.php
index.php.sample
install.php
php.ini.sample
mage
*~
!app/code/community/Quanbit/
!app/design/
app/
!app/etc/modules/Quanbit*
