<?xml version="1.0"?>
<config>
    <modules>
        <Quanbit_QBShippingAndPaymentFilters>
            <version>0.4</version>
        </Quanbit_QBShippingAndPaymentFilters>
    </modules>      
    <global>
        <resources>
            <qbshippingandpaymentfilters_setup>
                <setup>
                    <module>Quanbit_QBShippingAndPaymentFilters</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </qbshippingandpaymentfilters_setup>
            <qbshippingandpaymentfilters_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </qbshippingandpaymentfilters_write>
            <qbshippingandpaymentfilters_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </qbshippingandpaymentfilters_read>            
        </resources>              
        <models>
            <shipping>
                <rewrite>
                    <shipping>Quanbit_QBShippingAndPaymentFilters_Model_Shipping_Shipping</shipping>
                </rewrite>
            </shipping>
            <sales>
                <rewrite>
                    <quote_address>Quanbit_QBShippingAndPaymentFilters_Model_Quote_Address</quote_address>
                </rewrite>
            </sales>
            <checkoutrule>
                <class>Quanbit_QBShippingAndPaymentFilters_Model</class>
                <resourceModel>checkoutrule_mysql4</resourceModel>
            </checkoutrule>
            <checkoutrule_mysql4>
                <class>Quanbit_QBShippingAndPaymentFilters_Model_Mysql4</class>
                <entities>
                    <checkoutrule>
                        <table>checkoutrule</table>
                    </checkoutrule>
                    <label>
                        <table>checkoutrule_label</table>
                    </label>
                </entities>
            </checkoutrule_mysql4>
        </models>
        <helpers>
            <checkoutrule>
                <class>Quanbit_QBShippingAndPaymentFilters_Helper</class>
            </checkoutrule>
        </helpers>
        <blocks>
            <checkoutrule>
                <class>Quanbit_QBShippingAndPaymentFilters_Block</class>
            </checkoutrule>
        </blocks>
        <events>
          <payment_method_is_active>
            <observers>
              <quanbit_qbshippingandpaymentfilters_filterpaymentmethods>
                <type>singleton</type>
                <class>checkoutrule/observer</class>
                <method>paymentMethods</method>
              </quanbit_qbshippingandpaymentfilters_filterpaymentmethods>
            </observers>
          </payment_method_is_active>
          <shipping_carrier_is_active>
            <observers>
              <quanbit_qbshippingandpaymentfilters_filterpaymentmethods>
                <type>singleton</type>
                <class>checkoutrule/observer</class>
                <method>shippingMethods</method>
              </quanbit_qbshippingandpaymentfilters_filterpaymentmethods>
            </observers>
          </shipping_carrier_is_active>
          </events>
    </global>
    <admin>
        <routers>
            <checkoutrule>
                <use>admin</use>
                <args>
                    <module>Quanbit_QBShippingAndPaymentFilters</module>
                    <frontName>checkoutrule</frontName>
                </args>
            </checkoutrule>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <promo>
                <children>
                    <checkoutrule module="checkoutrule">
                        <title>Checkout Rules</title>
                        <sort_order>75</sort_order>               
                        <action>checkoutrule/promo_checkoutrule</action>
                    </checkoutrule>
                </children>
            </promo>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Quanbit_QBShippingAndPaymentFilters>
                            <title>Quanbit_QBShippingAndPaymentFilters Module</title>
                            <sort_order>10</sort_order>
                        </Quanbit_QBShippingAndPaymentFilters>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <checkoutrule>
                    <file>checkoutrule.xml</file>
                </checkoutrule>
            </updates>
        </layout>
    </adminhtml>
    <phpunit>
        <suite>
            <modules>
                    <Quanbit_QBShippingAndPaymentFilters />
            </modules>
         </suite>
    </phpunit>
</config>
